<% layout("layouts/boilerplate") %>

    <body>
        <h3>Create a New Listing</h3>
        <br /><br />
        <div class="row mt-3 ">
            <div class="col-8 offset-2 ">

                <form method="POST" action="/listings" novalidate class="needs-validation">
                    <div class="mb-3">
                        <label for="title" class="form-label ">Title</label>
                        <input name="listing[title]" placeholder="Enter title of the place" type="text"
                            class="form-control" required>
                        <div class="invalid-feedback">
                            Please enter a title.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">description</label>
                        <textarea name="listing[description]" placeholder="Enter description" 
                            class="form-control" required></textarea>
                        <div class="invalid-feedback">
                            description should not be empty.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label ">Image Link</label>
                        <input name="listing[image]" placeholder="Enter image url/link" type="text"
                            class="form-control">
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input name="listing[price]" placeholder="Enter price" class="form-control"
                                required>
                            <div class="invalid-feedback">
                                Please enter a price
                            </div>
                        </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label ">Country</label>
                            <input name="listing[country]" placeholder="Enter Country" type="text" class="form-control"
                                required>
                            <div class="invalid-feedback">
                                Type Country name.
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label ">Location</label>
                        <input name="listing[location]" placeholder="Enter location" type="text" class="form-control"
                            required>
                        <div class="invalid-feedback">
                            Location should be valid.
                        </div>
                    </div>
                    <button class="btn btn-dark add-btn">Add</button>
                </form>
            </div>
        </div>
        <br /><br />
        </body